//Root 
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}


:root {
  

  //text heading color
  --text-color:         #555555;
  --headings-color:     #111111;

  --body-bg:          #ffffff;

  //section title
  --sec-title-color:                 var(--headings-color);

  //container
  --container-width: 1750px;
  --large-container-width: 1850px;
}
